body {
    font-family: Arial, sans-serif;
    background-image: url("assets/bank2.jpg");
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.start {
    display: grid;
    width: 100%;
    height: 100%;
    background-image: url("assets/startbackground.png");
    background-size: 100% 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-items: center;
    align-content: center;
    z-index: 1;

}

.buttonplay {
    background-color: #d2a322;
    width: 200px;
    height: 70px;
    justify-self: center;
    font-size: 30px;
    color: #1a1404;
    font-weight: bold;
    font-family: "Kanit", sans-serif;
    text-shadow: 2px 2px 8px #f7cf5f;
    border-radius: 5px;
    text-align: center;
    margin-top: 15%;
    margin-right: 30px;
}

.buttonplay p {
    padding-top: 5%;
    margin: 0%;
    margin-bottom: 20%;

}

.buttonplay:hover {
    background-color: #9d760b;
}

.grid-container {
    width: 100%;
    height: 100%;
    display: inline grid;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0);
}

.grid-item {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
    font-size: 30px;
    text-align: center;
}

.container {
    grid-area: 1/2/span 1/span 8;
    text-align: center;
    color: rgb(253, 252, 252);
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.332);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    justify-items: center;
    align-items: center;
    display: grid;
}

.header1 {
    height: 100px;
    width: 600px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.game-info {
    height: 50px;
    width: 600px;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 30px;
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    color: #FFC933;
    text-shadow: 2px 2px 10px black;
}

.game-board {
    display: grid;
    height: 450px;
    width: 100%;
    align-items: center;
    justify-items: center;
    margin: 0;
    margin-bottom: 30px;
}

.briefcase1 p,
.briefcase2 p,
.briefcase3 p {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.briefcases {
    width: 600px;
    height: 170px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(5, 2fr);
    column-gap: 10px;

}

.briefcase1 {
    background-image: url("assets/case\(1\).png");
    background-size: 100% 100%;
    background-position: center;
    cursor: pointer;
    font-size: 23px;
    color: black;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-items: center;
    height: 80px;
    width: 100px;
}

.briefcases2 {
    width: 670px;
    height: 85px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
}

.briefcase2 {
    background-image: url("assets/case\(1\).png");
    background-size: 100% 100%;
    background-position: center;
    cursor: pointer;
    font-size: 23px;
    color: black;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-items: center;
    height: 80px;
    width: 100px;
}

.briefcases3 {
    width: 600px;
    height: 170px;
    grid-template-rows: auto;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(5, 2fr);
    column-gap: 10px;
    text-align: center;
}

.briefcase3 {
    background-image: url("assets/case\(1\).png");
    background-size: 100% 100%;
    background-position: center;
    cursor: pointer;
    font-size: 23px;
    color: black;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-items: center;
    height: 80px;
    width: 100px;
}

.containerprices1 {
    grid-area: 1/1/span 1/span 1;
    text-align: left;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 20%;
    padding-bottom: 20%;
}

.containerprices2 {
    grid-area: 1/10/span 1/span 1;
    text-align: right;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 20%;
    padding-bottom: 20%;
}

.button1 {
    background-image: url("assets/pricebar2.jpg");
    align-content: left;
    border: 1px solid #fcd847;
    color: black;
    padding: 15px 15px;
    text-align: left;
    text-decoration: none;
    text-shadow: 2px 2px 4px white(151, 31, 31);
    font-size: 18px;
    cursor: pointer;
    width: 250px;
    height: 15px;
    display: block;
    border-radius: 5px;
}

.prices .button1:not(:last-child) {
    border-bottom: none;
}

.prices .button1:hover {
    background-color: #fcd847;
}

.button2 {
    background-image: url("assets/pricebar.jpg");
    align-content: left;
    border: 1px solid #fcd847;
    color: black;
    padding: 15px 15px;
    text-align: right;
    text-decoration: none;
    text-shadow: 2px 2px 4px white;
    font-size: 18px;
    cursor: pointer;
    width: 250px;
    height: 15px;
    display: block;
    border-radius: 5px;
}

.prices .button2:not(:last-child) {
    border-bottom: none;
    /* Prevent double borders */
}

.prices .button2:hover {
    background-color: #fcd847;
}

.prices {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1px;
}

.briefcase1:not(.opened):hover {
    background-image: url("assets/case2.png");
}

.briefcase2:not(.opened):hover {
    background-image: url("assets/case2.png");
}

.briefcase3:not(.opened):hover {
    background-image: url("assets/case2.png");
}

.selected {
    background-image: url("assets/yourcase.png");
}

.opened {
    background-image: url("assets/opencase2.png");
    cursor: not-allowed;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

.cancelbtn,
.deletebtn {
    float: left;
    width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
    background-color: #ccc;
    color: black;
}

.deletebtn {
    background-color: #f44336;
}

.modaloffer {
    position: fixed;
    top: 0;
    left: 0;
    justify-items: center;
    align-items: center;
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.containeroffer {
    display: grid;
    justify-items: center;
    align-items: center;
    padding-top: 38%;
    text-align: center;
    font-size: 18px;

}

.modal-contentoffer {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 300px;
    width: 450px;
    background-image: url("assets/bankoffer.jpg");
    background-size: 450px 300px;
    background-position: center;
    /* Could be more or less, depending on screen size */
}

.inyourcase {
    justify-self: center;
    align-items: center;
    height: 30px;
    width: 300px;
    margin-left: 25%;
    background-color: rgba(0, 0, 0, 0);
    font-size: 18px;
    padding: 0;
}

.inyourcase:hover {
    background-color: rgba(0, 0, 0, 0);
}

.modalswap {
    position: fixed;
    top: 0;
    left: 0;
    justify-items: center;
    align-items: center;
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

}

.containerswap {
    display: grid;
    justify-items: center;
    align-items: center;
    padding-top: 50%;
    color: white;
    text-align: center;
    font-size: 20px;
}

/* Modal Content/Box */
.modal-contentswap {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 300px;
    width: 450px;
    text-align: start;
    background-image: url("assets/swap.jpg");
    background-size: 450px 300px;
    background-position: center;
    /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.close:hover,
.close:focus {
    color: #36f462;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.swapMessage {
    padding: 0%;
}

.buttondeal {
    background-image: url("assets/deal.jpg");
    justify-items: center;
    background-position: center;
    background-size: 120px 40px;
    width: 120px;
    height: 40px;
}

.buttonnodeal {
    background-image: url("assets/nodeal.jpg");
    justify-items: center;
    background-position: center;
    background-size: 120px 40px;
    width: 120px;
    height: 40px;
}

.buttonswitch {
    background-image: url("assets/switchcase.jpg");
    justify-items: center;
    background-position: center;
    background-size: 120px 30px;
    width: 120px;
    height: 30px;
}

.buttonkeep {
    background-image: url("assets/keepcase.jpg");
    justify-items: center;
    background-size: 120px 30px;
    background-position: center;
    width: 120px;
    height: 30px;
}

.modalresult {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-items: center;
    align-items: center;
}

.modal-contentresult {
    background-image: url("assets/congrats.jpg");
    background-size: 600px 350px;
    width: 600px;
    height: 350px;

}

.containerresult {
    text-align: center;
    justify-items: center;
    align-items: center;
    padding-top: 38%;
}

.resultMessage {
    font-size: 28px;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    color: #FFC933;
    text-shadow: 2px 2px 8px black;
    padding-bottom: 45px;
    justify-self: center;
}

.containerresult button {
    width: 200px;
    color: #FFC933;
    text-shadow: 2px 2px 8px black;
    background-color: black;
}

/*#id04 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}*/

#id03 .close2 {
    grid-area: 1/1/span 1/span 2;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-left: 93%;
    padding-right: 2%;
    padding-top: 1%;
    justify-self: left;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-items: center;
    align-items: center;

}

.modal-content {
    display: grid;
    background-image: url("assets/endswap.png");
    background-size: 600px 350px;
    width: 600px;
    height: 350px;
    text-align: center;
    justify-items: center;
    align-items: center;
    margin-top: 12%;


}

.case1 {
    grid-area: 2/1/span 9/span 1;
    background-image: url("assets/rewardcaseyour.png");
    background-size: 200px 150px;
    background-position: center;
    height: 150px;
    width: 200px;
    justify-self: center;
    margin-bottom: 3%;
    margin-left: 11%;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #FFC933;
    text-shadow: 2px 2px 8px black;
    justify-items: center;
    align-items: center;
}

.case2 {
    grid-area: 2/2/span 9/span 1;
    background-image: url("assets/rewardcase2.png");
    background-size: 200px 150px;
    background-position: center;
    height: 150px;
    width: 200px;
    justify-self: center;
    margin-bottom: 3%;
    margin-right: 2%;
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #FFC933;
    text-shadow: 2px 2px 8px black;
    /*padding-top: 20%;*/
    justify-items: center;


}

.case1 p,
.case2 p {
    padding-top: 17%;
}

.dealAmount {
    grid-area: 10/1/span 2/span 2;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #FFC933;
    text-shadow: 2px 2px 8px black;
}

.playagain {
    background-color: #FFC933;
    width: 200px;
    height: 70px;
    justify-self: center;
    font-size: 20px;
    color: black;
    margin-top: 35px;
    font-weight: bold;
    font-family: "Kanit", sans-serif;
    text-shadow: 2px 2px 8px #f7cf5f;
    border: #cb9e23;
    border-radius: 5px;
    border-width: 3px;
    text-align: center;
    margin-left: 32%;
}

.playagain p {
    padding-top: 12%;
}

.playagain:hover {
    background-color: #a68220;
}

.playagain2:hover {
    background-color: #a68220;
}

.playagain2 {
    background-color: #FFC933;
    width: 200px;
    height: 70px;
    justify-self: center;
    font-size: 20px;
    color: black;
    /*margin-top: 75px;*/
    font-weight: bold;
    font-family: "Kanit", sans-serif;
    text-shadow: 2px 2px 8px #f7cf5f;
    border: #cb9e23;
    border-radius: 5px;
    border-width: 3px;
    text-align: center;
    margin-right: 1%;
    margin-bottom: 5%;
}

.playagain2 p {
    padding-top: 12%;
    margin: 0%;
    margin-bottom: 20%;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {

    .cancelbtn,
    .deletebtn {
        width: 100%;
    }
}